{{define "inc-navbar" -}}
<div class="inc-navbar inc-grid-el">
    <div>
        <a class="clickableEl" title="Summary View" href="/incident/summary?id={{.Id}}"><img
                style="width: 35px; height: 35px;" src="assets/inc_home.svg" alt="Summary View"></a>
    </div>
    <div>
        <a class="clickableEl" title="Worklogs" href="/incident/worklog?={{.Id}}"><img
                style="width: 35px; height: 35px;" src="assets/feed.svg" alt="Worklogs"></a>
    </div>
    <div>
        <a class="clickableEl" title="Planning" href="/incident/planning?={{.Id}}"><img
                style="width: 35px; height: 35px;" src="assets/planing.svg" alt="Planning"></a>
    </div>
    <div>
        <a class="clickableEl" title="IOC View" href="/incident/iocView?={{.Id}}"><img
                style="width: 35px; height: 35px;" src="assets/IOCView.svg" alt="IOC View"></a>
    </div>
</div>
{{end}}