<div class="inc-grid font-body" style="height: calc(100vh - 72px);">
    {{template "inc-header"}}
    {{template "inc-navbar"}}
    <div class="inc-grid-el grid_rs2re6_cs2ce4 ">
        <p class="font-h4">Worklogs</p>
        <ul class="worklog-list" style="max-height: 95%; overflow:auto;">
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>

            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                        Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id sit est sint aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua
                        aute consectetur excepteur ea. Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Consequat nisi ad
                        eiusmod Lorem officia aliqua aute consectetur excepteur ea. Minim aliquip ad officia id deserunt
                        eu cillum esse.</p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Consequat nisi ad eiusmod Lorem officia aliqua aute consectetur excepteur ea.
                    </p>
                </div>
                <hr>
            </li>
            <li>
                <div>
                    <div class="vertical-container">
                        <p class="font-h4">User</p>
                        <p class="font-smaller font-col-info">20/12/2023 10:50</p>
                    </div>
                    <p class="font-small">Id amet elit ullamco nisi ipsum consequat sint consectetur. Id sit est sint
                        aliquip dolore. Minim aliquip ad officia id deserunt eu cillum esse.</p>
                </div>
                <hr>
            </li>
        </ul>
    </div>
    <div class="grid_rs4re6_cs1_ce2 inc-grid-el inc-grid-actionbar">
        <button class="clickableEl" title="Summary View"><img style="width: 35px; height: 35px;"
                src="assets/inc_home.svg" alt="Summary View"></button>
        <button class="clickableEl" title="Worklogs"><img style="width: 35px; height: 35px;" src="assets/feed.svg"
                alt="Worklogs"></button>
        <button class="clickableEl" title="Planning"><img style="width: 35px; height: 35px;" src="assets/planing.svg"
                alt="Planning"></button>
        <button class="clickableEl" title="IOC View"><img style="width: 35px; height: 35px;" src="assets/IOCView.svg"
                alt="IOC View"></button>
    </div>
    <div class="inc-grid-el grid_rs2re6_cs4ce6"
        style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="editor-container">
            <div style="margin: 5px 5px 0px 5px;" class="vertical-container">
                <button class="btn">Bold</button>
                <button class="btn">Underline</button>
                <button class="btn">Italic</button>
                <button class="btn">Bold</button>
                <button class="btn">Underline</button>
                <button class="btn">Italic</button>
                <button class="btn">Bold</button>
                <button class="btn">Underline</button>
                <button class="btn">Italic</button>
            </div>
            <hr>
            <textarea name="worklog" id="worklog_editor" cols="30" rows="250"
                style="height: 90% !important;"></textarea>
            <div style="margin-top:15px ;">
                <button class="btn">Create a new one</button>
            </div>
        </div>
        <div>
            Preview
        </div>
    </div>
</div>