package incComponents

import "fmt"

templ IncHeader(incName, PageName string ) {
	<div class="col-span-full inc-grid-el ">
		<div class="flex flex-row justify-between grow">
			<div><span class="font-h3">{ fmt.Sprintf("%s - %s", incName, PageName) }</span></div>
			<div class="vertical-container">
				<button class={ "btn" }>Do Something</button>
				<button class="btn">Somehting other</button>
				<button class="btn">Close</button>
			</div>
		</div>
	</div>
}
